extends layout

block content
  h1= title
  p #{author.lifespan}
  h3 Books
  if !books.length
    p This author has no books.
  each book in books
    a(href=book.url) #{book.title}
    p #{book.summary}
  hr
  p
    a(href=author.url + "/update") Update author
  p
    a(href=author.url + "/delete") Delete author
  