extends layout

block content
  h1= title
  p #[strong Title: ]
    a(href=instance.book.url) #{instance.book.title}
  p #[strong Imprint: ] #{instance.imprint}
  p #[strong Status: ] #{instance.status}
  if 'Available' != instance.status
    p #[strong Due back: ] #{instance.due_back_formatted}
  hr
  p
    a(href=instance.url + "/update") Update Book Instance
  p
    a(href=instance.url + "/delete") Delete Book Instance
