extends layout

block content
  h1= title
  form(method="POST", action="")
    div.form-group
      label(for="title") Title:
      input#title.form-control(name="title", type="text", require="true", placeholder=book.title)
      label(for="author") Author:
      select#author.form-control(name="author", type="select", require="true")
        for author in authors
          option(value=author._id) #{author.name}
      label(for="summary") Summary:
      input#summary.form-control(name="summary", type="text", require="true", placeholder=book.summary)
      label(for="isbn") ISBN:
      input#isbn.form-control(name="isbn", type="text", require="true", placeholder=book.isbn)
      label(for="genre") Genre:
      for genre in genres
        span(style="display: inline; padding-right: 10px")
          input.checkbox-input(id=genre._id, name="genre", type="checkbox", value=genre._id, style="margin-left: 10px; margin-right: 10px", checked=genre.checked)
          label(for=genre._id) #{genre.name}
          |
    button.btn.btn-primary(type="sumbit") Sumbit

  if errors
    hr
    h3 Erros:
    ul
      for error in errors
        li!= error.msg